<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/shop-item.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Parlez Now</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">How it Works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">
          <div class="card mt-4">
            <img class="card-img-top img-fluid" src="http://placehold.it/100x100" alt="">
              <div class="card-body">
                <h3 class="card-title">{% if user %} {{ user.username }} {% else %} Register {% endif %}</h3>
                  </div>
                </div>
              <div class="list-group">
            <a href="#" class="list-group-item active">Currency</a>
            <hr>
          </div>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-body">
              <form method="post" action="#">
                <div class="form-group">
                <label for="exampleInputEmail1"><strong>Email address:</strong></label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="{% if user %}{{ user.email }}{% else %}Email{% endif %}">
              </div>

	     <div class="form-group">
                <label for="exampleInputUsername"><strong>Username:</strong></label>
                <input type="text" name="username" class="form-control" id="exampleInputUsername" placeholder="Username">
              </div>


	      <div class="form-group">
                <label for="exampleInputPassword1"><strong>Password:</strong></label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>


              <p><strong>Sex you identify with:</strong></p>
              <label for="Male"> Male </label>
                <input id="Male" type="radio" name="gender" value="male" {% if user and not female %} checked {% endif %}>
              <label for="Female"> Female </label>
                <input id="Female" type="radio" name="gender" value="female" {% if user and female %} checked {% endif %}>


		<p><strong>Wants to learn:</strong></p>
		<label for="English"> English </label>
                <input id="English" type="radio" name="gender" value="english" {% if user and not female %} checked {% endif %}>
              <label for="French"> Frence </label>
                <input id="French" type="radio" name="gender" value="french" {% if user and female %} checked {% endif %}>


            </div>
              <hr>
            </div>

	    
            <select class="selectpicker" name="birthmonth">
                <option><a href="#">01</a></option>
                <option><a href="#">02</a></option>
                <option><a href="#">03</a></option>
                <option><a href="#">04</a></option>
                <option><a href="#">05</a></option>
                <option><a href="#">06</a></option>
                <option><a href="#">07</a></option>
                <option><a href="#">08</a></option>
                <option><a href="#">09</a></option>
                <option><a href="#">10</a></option>
                <option><a href="#">11</a></option>
                <option><a href="#">12</a></option>
              </select>

              <select class="selectpicker" name="birthday">
                <option><a href="#">01</a></option>
                <option><a href="#">02</a></option>
                <option><a href="#">03</a></option>
                <option><a href="#">04</a></option>
                <option><a href="#">05</a></option>
                <option><a href="#">06</a></option>
                <option><a href="#">07</a></option>
                <option><a href="#">08</a></option>
                <option><a href="#">09</a></option>
                <option><a href="#">10</a></option>
                <option><a href="#">11</a></option>
                <option><a href="#">12</a></option>
                <option><a href="#">13</a></option>
                <option><a href="#">14</a></option>
                <option><a href="#">15</a></option>
                <option><a href="#">16</a></option>
                <option><a href="#">17</a></option>
                <option><a href="#">18</a></option>
                <option><a href="#">19</a></option>
                <option><a href="#">20</a></option>
                <option><a href="#">21</a></option>
                <option><a href="#">22</a></option>
                <option><a href="#">23</a></option>
                <option><a href="#">24</a></option>
                <option><a href="#">25</a></option>
                <option><a href="#">26</a></option>
                <option><a href="#">27</a></option>
                <option><a href="#">28</a></option>
                <option><a href="#">29</a></option>
                <option><a href="#">30</a></option>
                <option><a href="#">31</a></option>
              </select>

              <select class="selectpicker" name="birthyear">
                <option><a href="#">70</a></option>
                <option><a href="#">72</a></option>
                <option><a href="#">73</a></option>
                <option><a href="#">74</a></option>
                <option><a href="#">75</a></option>
                <option><a href="#">76</a></option>
                <option><a href="#">77</a></option>
                <option><a href="#">78</a></option>
                <option><a href="#">79</a></option>
                <option><a href="#">80</a></option>
                <option><a href="#">81</a></option>
                <option><a href="#">82</a></option>
                <option><a href="#">83</a></option>
                <option><a href="#">84</a></option>
                <option><a href="#">85</a></option>
                <option><a href="#">86</a></option>
                <option><a href="#">87</a></option>
                <option><a href="#">88</a></option>
                <option><a href="#">89</a></option>
                <option><a href="#">90</a></option>
                <option><a href="#">91</a></option>
                <option><a href="#">92</a></option>
                <option><a href="#">93</a></option>
                <option><a href="#">94</a></option>
                <option><a href="#">95</a></option>
                <option><a href="#">96</a></option>
                <option><a href="#">97</a></option>
                <option><a href="#">98</a></option>
                <option><a href="#">99</a></option>

              </select>

            <button type="submit" class="btn btn-primary">Submit</button>
            </br>
            </form>
            <!-- /.card -->

          </div>

        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>

    <!-- <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
    </footer> -->

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/popper/popper.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
