<html>
  <body>
    <form action="#" method="post">
      <input type="text" name="username" placeholder="username1">
      <input type="text" name="email" placeholder="email1">
      <input type="text" name="first_name" placeholder="first_name1">
      <input type="text" name="last_name" placeholder="last_name1">
      <input type="text" name="birthdate" placeholder="2017-10-10">
      <input type="radio" name="gender" value="male">male
      <input type="radio" name="gender" value="female">female
      <input type="radio" name="gender" value="other">
      <button type="Register" id="submit">
    </form>
  </body>
</html>
